
MLP on graph classification using PyTorch/test.csv
Multilayer_Perceptron.ipynb
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/mapping/mol.csv.gz
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/processed/geometric_data_processed.pt
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/raw/edge.csv.gz
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/split/scaffold/valid.csv.gz
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/raw/num-edge-list.csv.gz
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/processed/pre_transform.pt
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/processed/geometric_data_processed.pt
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/processed/geometric_data_processed.pt
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/processed/pre_transform.pt
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/raw/edge.csv.gz
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/raw/node-feat.csv.gz
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/mapping/README.md
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/raw/num-node-list.csv.gz
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/split/scaffold/valid.csv.gz
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/raw/edge-feat.csv.gz
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/RELEASE_v1.txt
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/RELEASE_v1.txt
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/raw/graph-label.csv.gz
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/split/scaffold/test.csv.gz
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/processed/pre_filter.pt
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/split/scaffold/train.csv.gz
2022/Oct/OGN_binary_mol_binary_class/dataset/ogbg_molhiv/split/scaffold/train.csv.gz
